.card{
    background-color: rgba(0, 0, 0, 0.751);
    color: rgb(214, 214, 214);
    padding: 20px 20px;
    width: 350px;
    min-height: 150px;
    margin: 10px;
    text-align: left;
    box-shadow: 2px 2px 15px rgba(0, 72, 124, 0.193);
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.56);
}
.card:hover{
    transform: scale(1.02);
}
.fa-pen{
    position: absolute;
    top: 20px;
    right: 15px;
    color: rgb(255, 255, 255);
    transition: 0.1s;
}
.fa-pen:hover{
    color: rgb(144, 144, 144);
}
.fa-trash{
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: rgb(255, 255, 255);
    transition: 0.1s;
}
.fa-trash:hover{
    color: rgb(144, 144, 144);
}
i{
    cursor: pointer;
}
.newstitle{
    font-weight: 600;
    margin-bottom: 6px;
    padding: 3px;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.266);
}
.newsdesc{
    margin-bottom: 4px;
}
.newstag{
    font-family: cursive;
}
.toptag{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.373);
    transition: 0.3s;
}
.toptag:hover{
    position: absolute;
    top: -15px;
    right: -15px;
}
.newsdate{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.837);
    background-color: rgba(240, 248, 255, 0.814);
    width: 20%;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}